<% content_for :ribbon do %>
<!-- RIBBON -->
<div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li>Home</li><li>Miscellaneous</li><li>Blank Page</li>
  </ol>
  <!-- end breadcrumb -->

  <!-- You can also add more buttons to the
  ribbon for further usability

  Example below:

  <span class="ribbon-button-alignment pull-right">
  <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
  <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
  <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
  </span> -->

</div>
<!-- END RIBBON -->
<% end %>



<!-- MAIN CONTENT -->
<div id="content">

  <!-- row -->
  <div class="row">
    <h1 class="page-title txt-color-blueDark">
      <button class="btn btn-secondary" style="float: left; margin-left: 15px">Previous</button>
      <button class="btn btn-secondary" style="float: right; margin-right: 15px">Next</button>
    </h1>
    <div class="col-md-offset-1" style="font-size: 27px">
      <strong>Step 2:</strong> <span>Tell us about your goal.</span>
    </div>
    <br><br>
  </div>
  <!-- end row -->


    <!-- widget grid -->
    <section id="widget-grid" class="">
      <!-- row -->
      <div class="row">
        <form method="post">

        <div class="col-sm-4">
          <div class="jarviswidget">
              <div class="widget-body">
                <!-- <form id="movieForm" method="post"> -->
                  <fieldset>
                    <legend>
                      Do you need help with...
                    </legend>
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-10">

                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="rating" value="New business" class="radiobox style-2" />
                            <span>New business launch</span> </label>

                          <label class="radio radio-inline">
                            <input type="radio" name="rating" value="Existing business" class="radiobox style-2" />
                            <span>Expand Existing business</span> </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>
          </div>
          <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
            <div>
              <div class="widget-body">
                <!-- <form id="movieForm" method="post"> -->
                  <fieldset>
                    <legend>
                      Business plan?
                    </legend>
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-10">
                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="business_plan" value="Yes" class="radiobox style-2" />
                            <span>Yes</span> </label>
                          <label class="radio radio-inline">
                            <input type="radio" name="business_plan" value="No" class="radiobox style-2" />
                            <span>No</span> </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>
              <!-- end widget content -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->
          <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
              <div class="widget-body">

                <!-- <form id="movieForm" method="post"> -->

                  <fieldset>
                    <legend>
                      Business Loans?
                    </legend>
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-10">

                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="business_loans" value="Yes" class="radiobox style-2" />
                            <span>Yes</span> </label>

                          <label class="radio radio-inline">
                            <input type="radio" name="business_loans" value="No" class="radiobox style-2" />
                            <span>No</span> </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>
          </div>
          <!-- end widget -->

          <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">

              <div class="widget-body">

                <!-- <form id="movieForm" method="post"> -->

                  <fieldset>
                    <legend>
                      Legal Counsel?
                    </legend>
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-10">

                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="legal_counsel" value="terrible" class="radiobox style-2" />
                            <span>Yes</span> </label>

                          <label class="radio radio-inline">
                            <input type="radio" name="legal_counsel" value="watchable" class="radiobox style-2" />
                            <span>No</span> </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>
              <!-- end widget content -->

            <!-- end widget div -->

          </div>
          <!-- end widget -->
          <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
              <div class="widget-body">

                <!-- <form id="movieForm" method="post"> -->

                  <fieldset>
                    <legend>
                      Accounting?
                    </legend>
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-10">

                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="legal_counsel" value="terrible" class="radiobox style-2" />
                            <span>Yes</span> </label>

                          <label class="radio radio-inline">
                            <input type="radio" name="legal_counsel" value="watchable" class="radiobox style-2" />
                            <span>No</span> </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>

          </div>

          <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">

              <!-- widget content -->
              <div class="widget-body">

                <!-- <form id="attributeForm" class="form-horizontal"
                data-bv-message="This value is not valid"
                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"> -->

                  <fieldset>
                    <legend>
                      Business Category
                    </legend>


                  <fieldset>
                    <div class="form-group">
                      <div class="col-lg-5">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="english"
                            data-bv-message="Please specify at least one language you can speak"
                            data-bv-notempty="true" />
                            Home-Base </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="french" />
                            Online Business </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="german" />
                            Minority Owned </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="russian" />
                            Veteran Owned </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="other" />
                            Women Owned </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="languages[]" value="other" />
                            Self-Employed </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->
              </div>

          </div>
          <!-- end widget -->

        </div>
        <!-- WIDGET ROW END -->

        <!-- NEW WIDGET ROW START -->
        <%=  render 'form' %>
        <div class="col-sm-8">

          <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">

              <div class="widget-body">

                <!-- <form id="productForm" class="form-horizontal"> -->

                  <fieldset>
                    <legend>
                      Business Information
                    </legend>
                  </fieldset>
                  <fieldset>
                    <div class="row">
                    <div class="form-group">
                      <div class="col-xs-9 col-lg-3 selectContainer">
                        <select class="form-control" name="color" style="margin-left: 20px">
                          <option value="">Consumer</option>
                          <option value="blue">Blue</option>
                          <option value="green">Green</option>
                          <option value="red">Red</option>
                          <option value="yellow">Yellow</option>
                          <option value="white">White</option>
                        </select>
                      </div>

                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">Co</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>

                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">Denver</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>

                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">80005</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>
                      </div>
                      <div class="row" style="margin-left: 300px">
                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">Co</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>

                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">Denver</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>

                      <div class="col-xs-9 col-lg-2 selectContainer">
                        <select class="form-control" name="size">
                          <option value="">80005</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                      </div>
                      </div>
                    </div>
                  </fieldset>
                <!-- </form> -->

                  <fieldset>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <div>
                          <label>Business Name</label> <br>
                          <input type="text" /><br><br>
                          <label class="col-md-3 control-label">Have you previously registered this business</label>
                          <label class="radio radio-inline no-margin">
                            <input type="radio" name="rating" value="terrible" class="radiobox style-2" />
                            <span>Yes</span></label>
                          <label class="radio radio-inline">
                            <input type="radio" name="rating" value="watchable" class="radiobox style-2" />
                            <span>No</span> </label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <label>Licenses and Registrations</label>
                        </div>
                        <div class="row">
                          <strong style="font-size: 15px">Federal</strong>
                          <p>None</p><br>
                        </div>
                        <div class="row">
                          <strong style="font-size: 15px">State</strong>
                          <p>None</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </fieldset>

              </div>
              <!-- end widget content -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->

          <div class="col-sm-3">
          <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">

              <div class="widget-body">

                <!-- <form id="profileForm"> -->

                  <fieldset>
                    <legend>
                      Business Domain
                    </legend>
                    <div class="form-group">
                      <label>Industry</label>
                       <select class="form-control" name="size">
                          <option value="">Retail</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Sector</label>
                        <select class="form-control" name="size">
                          <option value="">Food and Kindred Products</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>SICS</label>
                        <select class="form-control" name="size">
                          <option value="">2099- Food Preparations, Nc</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>NAICS</label>
                        <select class="form-control" name="size">
                          <option value="">311712- Fresh and Frozen Sets</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Business model</label>
                        <select class="form-control" name="size">
                          <option value="">Business to Consumer(B2C)</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Franchise</label>
                        <select class="form-control" name="size">
                          <option value=""></option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Ownership</label>
                        <select class="form-control" name="size">
                          <option value="">Partnership</option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>
                        </select>
                    </div>
                  </fieldset>
                </form>

              </div>
              <!-- end widget content -->

            </div>

        </div>
        <!-- WIDGET ROW END -->
        <div class="col-sm-5">
          <div id="googleMap" style="width:100%;height:400px;">
          </div>
        </div>

      </div>

      <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->



<script>
function myMap() {
  var mapProp= {
      center:new google.maps.LatLng(51.508742,-0.120850),
      zoom:5,
  };

  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

