  <!--/ End Home Section -->

  <section class="banner2">
      <header id="header2">
        <div class="container">
           <div class="row">
           <div class="col-md-3 col-sm-3 col-xs-12">
<!--               <div class="logo">
                 <img src="images/logo.png" class="img-responsive" alt="logo">
              </div> -->
           </div>
           <div class="col-md-9 col-sm-9 col-xs-12 navarea1">
              <nav class="navbar navbar-default">
                 <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="active"><i class="fa fa-phone"></i> 253 282 3555</a></l>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> </i>Products</a></li>
                        <li class="dropdown">
                         
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-credit-card" aria-hidden="true"></i> Pricing <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i> Knowledge Center</a></li>
                        <li  class="active"><a  class="btn-login" href="<%=new_user_session_path()%>"> Login </a></li>
                        <li ><a class="btn-signup" href="<%=new_user_registration_path()%>">Sign Up</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                 </div><!-- /.container-fluid -->
              </nav>
           </div>
        </div>
      </header>
      <div class="banner-holder">
        <div class="banner-text">
          <h1>
            Your search for investment property begins and ends here 
          </h1>
          <p>Use analytics to find lucrative traditional or Aribnb properties in a matter of minutes. <br>No more spreadsheets, no more searching.</p>
        </div>
        <form class="form-inline banner-search-form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Explore by City">
              <div class="input-group-addon"> <button type="submit" class="btn btn-primary">Start Analyzing</button></div>
            </div>
          </div>
        </form>
        <ul class="social-netswork">
          <li class="share">
            <a href="#">
              <strong>1.6K</strong>
              <span>shares<span>
            </a>
          </li>
          <li class="facebook">
            <a href="#">
             <i class="fa fa-facebook" aria-hidden="true"></i>
              <span>1.5k</span>
            </a>
          </li>
          <li class="linkedin">
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <span>1.2k</span>
            </a>
          </li>
          <li class="pinterest">
            <a href="#">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              <span>1k</span>
            </a>
          </li>
          <li class="email">
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>1k</span>
            </a>
          </li>
          <li class="gplus">
            <a href="#">
             <i class="fa fa-google-plus" aria-hidden="true"></i>
              <span>1k</span>
            </a>
          </li>
          <li class="twitter">
            <a href="#">
              <i class="fa fa-twitter2" aria-hidden="true"></i>
              <span>1k</span>
            </a>
          </li>
        </ul>
      </div>
   </section>
     <!--/ Start Services Section -->
    <section class="clients-block">
      <div class="container">
        <div class="column mcb-column one column_clients ">
         <ul class="clients-list clearfix ">
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 1">
                     <div class="gs-wrapper"><img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_1-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_1-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_1-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_1.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 2">
                     <div class="gs-wrapper"><img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_2-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_2-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_2-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_2.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 3">
                     <div class="gs-wrapper"><img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_3-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_3-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_3-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_3.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 4">
                     <div class="gs-wrapper"><img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_4-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_4-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_4-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_4.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 5">
                     <div class="gs-wrapper"><img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_5-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_5-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_5-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_5.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
            <li>
               <div class="client_wrapper">
                  <a target="_blank" href="#" title="Client 6">
                     <div class="gs-wrapper">
                      <img width="145" height="75" src="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_6-145x75.png" class="scale-with-grid wp-post-image" alt="" srcset="http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_6-145x75.png 145w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_6-50x26.png 50w, http://betheme.muffingroupsc.netdna-cdn.com/be/video/wp-content/uploads/2015/02/client_6.png 155w" sizes="(max-width: 145px) 100vw, 145px"></div>
                  </a>
               </div>
            </li>
         </ul>
      </div>


      </div>
    </section>
    <!--/ End video Section -->
